<ul style="list-style: none">
  <% if(locals.user){%>
  <li>
    <h2><span>Welcome </span> <a href="/users/profile"><%=user.name%></a> !</h2>
  </li>
  <li>
    <a href="/users/logout">Sign Out</a>
  </li>
  <%}else{%>

  <li>
    <a href="/users/signin">Sign In</a>
  </li>
  <li>
    <a href="/users/signup">Sign Up</a>
  </li>
  <%}%>
</ul>
