footer {
  min-width: 70px;
  background-color: grey;
  display: flex;
}
footer div {
  margin: 5px 15px;
  color: white;
  display: flex;
  flex-direction: column;
}
footer div div a {
  text-decoration: none;
  color: white;
}
